<div class="container d-flex align-items-center justify-content-center">
    <div class="text-center">
        <img src="assets/images/writing.png" alt="writing image" class="img-fluid" style="max-width: 20rem;">
        <div class="bg-soft-warning rounded-3 p-3">
            <h1 class="">Create</h1>
            <h1 class=" text-warning">Notes and Todo lists</h1>
            <h1 class="">for free</h1>
        </div>
        <a href="#" [routerLink]="['/list']" class="btn btn-lg btn-outline-warning mt-5">Open App</a>
    </div>
</div>